@{
    ViewData["Title"] = "Food Recommendation Api Client";
}

    <div class="text-center">
        <h1 class="display-4">Food Recommendation</h1>
        <p><a asp-controller="FoodRecommend" asp-action="UserNutrients">Calculate nutrients from user profile</a></p>
        <p><a asp-controller="FoodRecommend" asp-action="NutrientsFood">Recommend food from nutrients</a></p>
        <p><a asp-controller="FoodRecommend" asp-action="UserNutrientsFood">Recommend food from user profile</a></p>
    </div>
